
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CheckOut_Success</title>
</head>
<body style="text-align:center">
    <h2>Thanh toán thành công</h2>
    <pre>
    Yêu cầu của bạn đã được gửi tới Shop
    Bạn sẽ nhận được hàng khoảng 2 - 3 ngày tới
    Cảm ơn bạn đã mua hàng của Shop <3.
    </pre>
    @Html.ActionLink("Quay lại trang chủ", "Index", "Product")
</body>
</html>
